<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexeyglushkov.authorization">

    <application>
        <activity
            android:name=".AuthorizationActivity"
            android:label="@string/authorization_activity_title" >
        </activity>

    </application>

</manifest>
